<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ninja Info</title>
    <!-- load Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col bg-secondary text-light m-2">
                <form method="POST" action="/dojo_show">
                    <div>
                        <label for="name">Dojo Location:</label>
                        <input type="text" id="name" name="name">
                    </div>
                    <button type="submit">
                        Create
                    </button>
                </form>
            </div>
            <div class="col bg-secondary text-light m-2">
                <h2>All Dojos</h2>
                <ul>
                    {% for element in list_dojos %}
                    <li>
                        <a href="dojos/{{element.id}}">{{element.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>